{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Basicss</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>

<body class="bg-gray-50 font-serif leading-normal tracking-normal">
    <div class="container mx-auto">
        <img src="{% static 'images/django.png' %}" alt="test image" class="h-12 w-12"/>
        <section class="flex items-center justify-center mt-10">
            <div class="w-full max-w-2xl shadow-md rounded-lg overflow-hidden">
                <table class="w-full text-sm text-left text-gray-700">
                    <thead class="text-xs text-red uppercase bg-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">#</th>
                            <th scope="col" class="px-6 py-3">First</th>
                            <th scope="col" class="px-6 py-3">Last</th>
                            <th scope="col" class="px-6 py-3">Handle</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in employees %}
                        <tr class="bg-white border-b hover:bg-green-50 transition-colors">
                            <td class="px-6 py-4">{{ forloop.counter }}</td>
                            <td class="px-6 py-4">{{ i.first_name }}</td>
                            <td class="px-6 py-4">{{ i.last_name }}</td>
                            <td class="px-6 py-4">{{ i.email_address }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</body>
</html>