{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Basics</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>

<body class="bg-gray-50 font-serif leading-normal tracking-normal">
    <div class="container mx-auto">
        <img src="{% static 'images/django.png' %}" alt="test image" class="h-12 w-12"/>
        <section class="flex items-center justify-center">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
        </section>
        
    </div>
</body>
</html>